body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("BgImage.jpg");
    background-size: cover;
    background-position: center;
    color: #333;
   
}
#app {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
h1{
    color: #fff;
}
nav button {
    margin-left: 10px;
    padding: 10px;
    background: #007bff;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

nav button.active {
    background: #007bff;
    color: rgb(13, 13, 13);
}

#search-section {
    margin-bottom: 20px;
}

#city-input {
    padding: 10px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.weather-card {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.forecast-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
}

#error-message {
    color: red;
    font-weight: bold;
    font-size: 3rem;
    background-color: #333;
}

#favorites-list {
    display: none;
    background-color: #fff;
    border-radius: 1rem;
    padding: 2px;
}

.favorite-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: rgba(255, 255, 255, 0.9);
    margin: 5px 0;
    border-radius: 5px;
}

@media (max-width: 600px) {
    #app {
        padding: 10px;
    }
    header {
        flex-direction: column;
        align-items: flex-start;
    }
    nav {
        margin-top: 10px;
    }
    #city-input {
        width: 60%;
    }
}